<html>
  <head>
     {{#>head}}
        <meta charset="utf-8">
      {{/head}}
  </head>
  <body>


    <h1>hello there
      {{#with user}}
      {{firstname}} {{lastname}}
      {{/with}}
    </h1>
    <p> Une personne a demandé une réinitialisation de votre votre de passe </br>
    si il s'agit bien de vous, il vous suffit de cliquer
    <a href="{{host}}/{{controller}}?resetToken={{token}}">
      sur ce lien
    </a>
    <p>dans le cas contraire vous pouvez sans risque ignorer et supprimer cet email</p>

    <p>Cordialement</p>
    <footer>
      {{#>signature}}
        une signature
      {{/signature}}
    </footer>
  </body>
</html>
